html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #160d0d;
    font-size: large;
    padding: 10px;
    background-image: url(../images/money.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat repeat;
    background-size: 100%;
}

.paragraph {
    font-weight: bold;
    border: solid 1px;
    border-radius: 5px;
    margin-top: 5px;
    background-color: hsl(0, 24%, 89%);
    padding: 10px;
}